################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug/Kursachtrpo.tlog
/x64/Debug
/Kursachtrpo.vcxproj.user
/Kursachtrpo.vcxproj.filters
/Kursachtrpo.vcxproj
